.form.svelte-fn5c6r{background-color:#ffffff;padding:20px}.error.svelte-fn5c6r{color:tomato}
.form.svelte-1uc8vm1{background-color:#ffffff;padding:20px}
.content.svelte-1g4k5jt{width:100%;height:100%;display:flex;align-items:center;justify-content:center;background-color:#999999}
