.form.svelte-fn5c6r{background-color:#ffffff;padding:20px}.error.svelte-fn5c6r{color:tomato}
.form.svelte-1u34jo3{background-color:#ffffff;padding:20px}
div.svelte-to5jpo{background-color:#ffffff}table.svelte-to5jpo{width:500px;height:500px;margin:50px;border-collapse:collapse;border-style:hidden}.cell.svelte-to5jpo{border:2px solid #223344;width:160px;height:160px;font-size:50px;text-align:center}
.content.svelte-1g4k5jt{width:100%;height:100%;display:flex;align-items:center;justify-content:center;background-color:#999999}
